@import 'toastr';

#form {
  margin-left: 400px;
}

#form h3 {
text-align: center;
}

input {
  margin-bottom: 20px;
  border-radius: 5px;
}

#refresh {
  margin-left: 80px;
}

#submit {
  width: 100px;
  margin-left: 150px;
}

main {
  flex-direction: column;
  max-width: 90%;
  margin: auto;
}